h1{
  background-color: blue  ;
  width: fit-content    ;
  color: white;   
  text-align: center;
  margin:20px;  

}
button{
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 20px;
} 
